<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/javascripts/UpdateUser.js"></script>
    <link rel="stylesheet" href="/stylesheets/OnePersonCss.css">
</head>
<body>
<div id="top">
    <div id="left">
        送货至
        <div id="demo">[正在定位...]</div>
        <div id="allmap"></div>
    </div>
    <div id="right">
        <ul>
            <div class="right1"><span id="UserInfo"></span>&nbsp;</div>
            <div class="right2">
                <li><a href="">我的订单</a> |</li>
                <li><a href="/users/UpdateUser">个人中心 |</a></li>
                <li><a href="/Help">帮助中心</a> |</li>
                <li>手机APP |</li>
                <li><a href="/users/glyLogin">管理员</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="head_nav">
    <ul>
        <li style="float: left;color:#5a5eff;font-size: 35px;margin-left: 10px;margin-top: 10px;font-family: '华文行楷'">速康送药</li>
        <li><a href="/">返回首页</a></li>
        <li><a href="/users/UpdateUser">个人中心</a></li>
        <li><a href="/users/ShowUpdatePassword">修改密码</a></li>
    </ul>

</div>
<div class="container">
    <div class="box">
        <form  method='post' action='javascript:;' role="form" id="frmUploadFile">
            <% for(var i = 0;i < user.length;i++) { %>
            <div class="one_Phont">
                <div class="one_showphote">
                    <img src="/upload/<%= user[0].Pic %>" width="100px"  />
                </div>
            </div>
            <div class="one_name1">
                <label>帐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
                <div class="kt_1" >
                    <input type="text" value="<%=user[i].UserId%>" name="UserId">
                </div>

            </div>
            <div class="one_name2">
                <label>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
                <div class="kt_1">
                    <input type="text" value="<%=user[i].UserName%>" placeholder="  请设置你的昵称" name="UserName">
                </div>
            </div>
            <div class="one_tel">
                <label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</label>
                <div class="kt_1">
                    <input type="text" value="<%=user[i].Utel%>" placeholder="  请正确输入手机号码" name="Utel">
                </div>
            </div>
            <div class="one_sex">
                <label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
                <div class="kt_1">
                    <input type="text" value="<%=user[i].Gender%>" name="Gender">
                </div>

            </div>
            <div class="one_birthday">
                <label>出生日期：</label>
                <div class="kt_1">
                    <input type="text" value="<%=user[i].Birthday%>" placeholder="  日期格式如：1994-06-02" name="Birthday">
                </div>

            </div>
            <% } %>

            <div class="one_uploadphoto">
                <label>上传图片：</label>
                <div class="kt_1">
                    <input type="file" name="files" id="myFile" style="margin-top: 3px"/>
                </div>
                <i >图片限于bmp,png,gif,jpeg,jpg格式,且大小不超过1M</i><br/>
                <label id="fileSize"></label>

            </div>

            <div class="one_UpdateAdd">
                <div class="kt_button">
                    <button onClick="uploadFile()">保存</button>
                    <span id="spanMessage"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/UpdateUser.js"></script>

</body>
</html>